body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: Roboto;
	background: #fff;
}

.panel {
	width: 270px;
	height: 100%;
	background: #000;
}

.panel-content {
	padding: 15px;
	width: auto;
}

.panel-content img {
	padding: 40px 0;
	display: block;
	position: relative;
	margin: 0 25px;
	width: 150px;
}

.menu a {
	margin: 20px 25px;
	display: block;
	text-decoration: none;
}

.menu a span {
	color: #fff;
	padding: 2px 5px;
	font-size: 12px;
	font-weight: 900;
	letter-spacing: 2px;
}

.menu a span:hover {
	color: #000;
	background: #fff;
}
