body {
	background-color: #000;
	width: auto !important;
	margin: 30px 0 50px 0;
	font-family: Roboto, sans-serif;
	}

header {
	height: 120px;
	}

header img {
	position: relative;top:34px;
	}

h1 {
	font-size: 55px;
	font-family: Roboto, sans-serif;
	}

h2 {
	font-size: 40px;
	font-family: Roboto, sans-serif;
	}

h3 {
	font-size: 25px;
	font-family: Roboto, sans-serif;
	}

h4 {
	font-size: 15px;
	font-family: Roboto, sans-serif;
	}

.b1 {
	background-color: #000000;
	margin: 0;
	padding: 190px 60px;
	background: url(BG1.jpg);
	background-position: center;
	}

.b1 h1 {
	font-weight: 100;
	text-align: center;
	color: #fff;
	width: 100%;
	line-height: 120%;
	}
	
.b1 a {
	text-decoration: none;
	}

.b2 {
	background-color: #fff;
	color: black;
	}

.b2 h1 {
	font-weight: 100;
	text-align: center;
	color: #000;
	padding: 50px 0 50px 0;
	}

.b3 {
	background-color: #D7D7D7;
	padding: 50px 0;
	}

.b3 h1 {
	font-weight: 100;
	text-align: center;
	color: #000;
	}

.b3 h3 {
	color: #000;
	font-weight: 100;
	text-align: center;
	}

#pasek {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-family: Roboto, sans-serif;
	background-color: rgba(10, 10, 10, 1);
	font-size: 13px;
	font-weight: 300;
	color: rgba(75, 75, 75, 1);
	padding: 5px 0;
	z-index: 100;
	}

1tmp {
	padding: 20px 0;
	}
	
	/* Bounce To Bottom */
.hvr-bounce-to-bottom {
	width: 200px;
	text-align: center;
	margin: auto;
	padding: 8px;
	border-style: solid;
	border-color: #fff;
	border-width: 1px;
	color: #fff;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: #000;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
	