@font-face {
	font-family: cour;
	src:url(cour.ttf);
}

body {
	margin: 0;
	padding: 0;
	background: #000;
	font-family: cour;
}

.content {
	width: 500px;
	height: 400px;
	margin: -200px -250px;
	position: absolute;
	top: 50%;
	left: 50%
}

.content img {
	width: 140px;
	margin: 0 auto;
	display: block;
}

.content p {
	font-size: 12px;
	color: #fff;
	text-align: center;
}
